<mat-accordion class="mat-accordion" multi="true" *ngIf="posts.length > 0">
  <mat-expansion-panel *ngFor="let item of posts">
    <mat-expansion-panel-header>
      {{ item.title }}
      <!-- {{ item.id }} -->
    </mat-expansion-panel-header>
    <div class="post-image">
      <img [src]="item.imagePath" [alt]="item.title">
    </div>
    <p>{{ item.content }}</p>

    <mat-action-row *ngIf="userIsAuthenticated && userId === item.creator">
      <a mat-raised-button color="primary" [routerLink]="['/edit', item.id]">Edit</a>
      <button mat-raised-button color="warn" (click)="onDeletePost(item.id)">Delete</button>
    </mat-action-row>

  </mat-expansion-panel>
</mat-accordion>

<!-- PAGINATION -->
<mat-paginator
  [length]="totalPosts"
  [pageSize]="postsPerPage"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onChangedPage($event)"
  *ngIf="posts.length > 0"
></mat-paginator>
<p class="info-text mat-body-1" *ngIf="posts.length === 0">No posts added yet</p>
