.mat-card {
  margin-bottom: 1rem
}
.mat-form-field, textarea {
  display: block;
  width: 100%;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 6rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%
}
